.navbar{
    display: grid;
    padding: 10px;
    color: white;
    background-color: var(--color-dark);
    font-family: var(--font-para3);
    height: 13%;
}

.navbar-content{
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.navbar-content p:first-child{
    font-size: 17px;
}

.navbar-userDetails{
    display: flex;
    align-items: center;
    gap: 5px;
}

.navbar-userDetails img{
   border-radius: 15rem;
   width: 35px; 
   height: 30px;
   object-fit: cover;
}

.navbar-userDetails p{
    font-size: 14px;
}

.navbar-userDetails button{
    cursor: pointer;
    background-color:transparent;
    border: 2px solid white;
    color: rgb(133, 15, 15);
    padding: 4px;
    border-radius: 5px;
    font-weight: 600;
}